* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary-background-color: #233a95;
$main-background-color: white;
$header-font-family: "Inter", sans-serif;
$text-color: #2bbef9;
$main-text-color: #3e445a;
$span-color: #71778e;
$border-color: #e3e4e9;
#header {
  .notify {
    background-color: $primary-background-color;
    text-align: center;
    color: white;
    height: 36px;
    font-size: 26px;
    padding-top: 7px;
    font-family: sans-serif;
  }
  .header-top {
    border-bottom: 1px solid $border-color;
    ul {
      display: inline;
      li {
        list-style: none;
        display: inline;
        a {
          color: $main-text-color;
          text-decoration: none;
          padding-right: 10px;
          font-size: 15px;
          font-family: sans-serif;
          &:hover {
            color: #2bbef9;
          }
        }
      }
    }
    .security {
      border-right: 1px solid $border-color;
    }
    .help {
      font-size: 11px;
       a {
        color: #2bbef9;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      border-right: 1px solid $border-color;
    }
    .dropdown {
      position: relative;
      display: inline-block;
       .active {
        color: #2bbef9;
      }
      &:hover .dropdown-content {
        display: block;
      }
      h6
      {
        font-size: 15px;
        &:hover {
          color: #2bbef9;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        background-color: #ffff;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            color: #2bbef9;
          }
        }
      }
    }
  }
  .header-center {
    .img {
      a {
        text-decoration: none;
        color: $span-color;
        font-size: 11px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .location {
      .btn-modal {
        strong {
          font-size: 13px;
          color: #223a95;
          padding-right: 50px;
        }
        .fa-solid {
          font-size: 13px;
          position: absolute;
          top: 20px;
          right: 12px;
        }
        span {
          font-size: 0.6875rem;
          margin: 0;
          color: rgb(151, 151, 151);
          padding-right: 82px;
        }
        position: relative;
        background-color: white;
        color: #233a95;
        border: 1px solid rgba(151, 151, 151, 0.5);
        margin-top: 8px;
        margin-left: 35px;
        height: 54px;
        border-radius: 5px;
        width: 180px;
      }
      .btn-modal:hover {
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1),
          0 10px 35px 0 rgba(0, 0, 0, 0.1);
      }
      .btn-modal:focus {
        box-shadow: none;
      }
      .modal-body {
        height: 400px;
        overflow-y: scroll;
        span {
          float: right;
        }
        .modals-search {
          margin-left: 32px;
          margin-bottom: 30px;
          padding-left: 10px;
          padding-top: 7px;
          background-color: #f3f4f7;
          width: 417px;
          border-radius: 5px;
        }
        .search {
          background-color: transparent;
          &::placeholder {
            color: rgb(151, 151, 151);
          }
        }
        .search:focus {
          border: none;
        }
        .search:focus-visible {
          outline: none;
        }
      }
    }
    .search {
      #search {
        width: 100%;
        height: 60px;
        outline: none;
        background-color: #f3f4f7;
        color: #202435;
        border: none;
        border-radius: 4px;
      }
      i {
        position: relative;
        top: -40px;
        left: 90%;
      }
    }
    .left {
      a {
        color: black;
        i {
          margin-top: 10px;
        }
      }
      .basket {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff1ee;
        text-align: center;
        position: relative;
        left: 40%;

        i {
          margin-top: 13px;
          color: red;
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;
        &:hover .dropdown-content {
          display: block;
        }
        .dropdown-content {
          height: 280px;
          display: none;
          position: absolute;
          width: 300px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          text-align: center;
          border-radius: 8px;
          background-color: #ffff;
          .img {
            margin-top: 20%;
            display: block;
            img {
              width: 20%;
              height: 20%;
            }
          }
          .txt {
            height: 100px;
            width: 80%;
            border-top: 1px solid $border-color;
            margin-top: 25%;
            margin-left: 7%;
            text-align: center;
            p {
              margin-top: 8%;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .header-bottom {
    .dropdown {
      button {
        background-color: #2bbef9;
        color: white;
        border-radius: 24px;
        border: none;
        height: 50px;
        width: 213.74px;
        outline: none;
      }
      .dropdown-menu {
        width: 300px;
        border-top: 1px solid $border-color;
        li {
          padding-top: 10px;
          font-size: 16px;
          color: $main-text-color;
          i {
            padding-right: 10px;
          }
          a:hover {
            color: #2bbef9;
          }
        }
      }
    }
    .shop-dropdown {
      position: relative;
      height: 60px;
      &:hover .content {
        display: block;
      }
      .page {
        text-align: center;
        margin-top: 25px;
        a {
          text-decoration: none;
          color: $main-text-color;
          font-size: 16px;
        }
      }
      .content {
        position: absolute;
        display: none;
        z-index: 100;
        width: 1553px;
        background-color: white;
        left: -585px;
        top: 40px;
        padding-left: 80px;
        padding-top: 40px;
        padding-bottom: 50px;
        .first {
          color: #0931c2;
          font-weight: 700;
          display: inline-block;
          padding-bottom: 20px;
        }
        a {
          text-decoration: none;
          color: rgb(43, 43, 43);
          display: inline-block;
          padding-bottom: 10px;
          &:hover {
            color: #2bbef9;
          }
        }
        .lists {
          &:hover .first {
            color: #2bbef9;
          }
        }
        
      }
    }
    .navigation {
      ul {
        display: inline;
        
       li {
          display: inline-block;
          padding-left: 10px;;
          
          a {
            font-size: 15px;
            text-decoration: none;
            color: $main-text-color;
            padding-left: 20px;
            width: 50px;
            min-height: 50px !important;
            &:hover {
              color: #2bbef9;
              background-color: #ecf6fa;
            }
          }
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;
        color: $main-text-color;
        .head {
          width: 96.28px;
          height: 50px;

          h5 {
            font-size: 15px;
            text-align: center;
            padding-top: 15px;
            a {
              text-decoration: none;
              color: $main-text-color;
            }
            &:hover {
              color: #2bbef9;
              background-color: #ecf6fa;
              height: 100%;
              border-radius: 40%;
            }
          }
        }
        .active {
          color: #2bbef9;
        }
        &:hover .dropdown-content {
          display: block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          background-color: #fff;
          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
              color: #2bbef9;
            }
          }
        }
        .big {
          width: 1320px;
          margin-left: 100%;
          ul {
            li {
              list-style: none;
            }
          }
        }
      }
    }
  }
}
#basket-product {
  ul {
    list-style: none;
    li {
      display: inline;
      margin-left: 2px;
      color: $span-color;
    }
  }
  .info {
    .second-product {
      border-top: 1px solid $border-color;
      height: 200px;
      ul{
        li{
          
          margin-left:-25px;
          padding-right: 25px;
        }
      }
    }
    width: 900px;
    img {
      cursor: pointer;
      width: 130px;
      height: 130px;
    }
    ul {
      li {
        display: inline;
      }
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
    i {
      padding-right:20px;
      cursor: pointer;
    }
    .curcile {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #edeef5;
      display: inline-block;
      text-align: center;
      margin-left: 10px;
      p {
        font-size: x-large;
        cursor: pointer;
      }
    }
  }
  .inputs {
    position: relative;
    top: 48%;
    padding-top:10px;
    border-top: 1px solid $border-color;
    input[type="text"] {
      width: 280px;
      height: 45px;
      background-color: #dbdcdf;
      outline: none;
      border-radius: 4px;
      border: none;
      text-align: center;
    }
    .btn {
      width: 150px;
      height: 43px;
      background-color: #233a95;
      border-radius: 4px;
      margin-left:3px;
    }
    .button {
      width: 150px;
      height: 45px;
      background-color: #f0f0f0;
      color: #b5b5b6;
      border-radius: 4px;
      border: none;
      margin-left: 25%;
      opacity: 0.8;
    }
  }
  .selling-info {
    height: 450px;
    margin-left: 15%;
    border: 1px solid $border-color;
    width: 420px;
    .price {
      margin-left: 40%;
    }
    span {
      font-size: 16px;
      font-weight: 600px;
      color: rgb(32, 36, 53);
      font-family: Inter, sans-serif;
    }
    .head {
      width: 80%;
      border-bottom: 1px solid $border-color;
    }
    .shipping-detail {
      border: 1px solid $border-color;
      width: 80%;
      height: 200px;
      margin-top: 5%;
      margin-left: 10%;
      .shipping {
        height: 170px;
        border-right: 1px solid $border-color;
        h5 {
          padding-top: 50%;
          margin-left: 5px;
        }
      }
      .detail {
        line-height: 30px;
        a {
          line-height: 100px;
          margin-left: 7%;
          align-items: flex-end;
          text-decoration: none;
          color: #2bbef9;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .total {
      span {
        margin-left: 45%;
      }
      .span {
        font-size: 24px;
        font-weight: bold;
      }
      margin-top: 5%;
      height: 40px;
      border-bottom: 1px solid $border-color;
    }
    .btn {
      width: 90%;
      height: 50px;
      margin-left: 5%;
      margin-top: 5px;
      &:hover {
        opacity: 0.7;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.coupon {
  width: 100%;
  height: 360px;
  background-color: #233a95;
  position: relative;
  img{
    position: absolute;
    bottom: 0%;
  }
  .content {
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    position: absolute;
    top: 15%;
    left: 10%;
    p {
      font-family: $header-font-family;
      padding-top: 5px;
      color: gray;
      font-weight: 200;
      font-size: 14px;
    }
    .form {
      color: white;
      position: absolute;
      left: 10%;
      top: 20%;
      position: relative;
      i {
        position: absolute;
        top: 28%;
        left: -7.5%;
        color: gray;
        font-size: 25px;
      }
      .input {
        width: 470px;
        height: 70px;
        border-radius: 4px;
        border: none;
        text-align: center;
        margin-left: -50px;
        outline: none;
      }
      .btn {
        right: 1%;
        top: 10%;
        position: absolute;
        height: 55px;
        width: 95px;
        background-color: #233a95;
        border: none;
      }
    }
  }
}
.info {
  height: 30px;
  padding-left: 3%;
  text-align: center;

  font-family: Inter, sans-serif;
  .bor {
    border-right: 1px solid $border-color;
    padding-right: 5px;
  }
  .img-one {
    margin-left: 10px;
  }
  i::after {
    padding-left: 10px;
  }
}
.footer {
  background: #f7f8fd;
  height: 260px;
  padding-left: 5%;
  .dairy {
    padding-right: 15px;
  }
  h4 {
    a {
      color: #202435;
      font-size: 0.9375rem;
      font-weight: bolder;
    }
  }
  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: $span-color;
    }
    li {
      margin-top: 5px;
      font-size: 13px;
      cursor: pointer;
    }
  }
  .social {
    margin-top: 150px;
    .phone {
      width: 50px;
      height: 50px;
      border-top: 2px solid $border-color;
      border-radius: 50%;
      text-align: center;
      img {
        margin-top: 7px;
        position: relative;
      }
      span {
        font-size: xx-large;
      }
    }
    .download {
      height: 100px;
      span {
        font-size: 13px;
        color: $span-color;
      }
      img {
        position: relative;
        bottom: 23%;
        left: 3%;
        cursor: pointer;
      }
    }
    .links {
      ul {
        list-style: none;
        li {
          display: inline;
          margin-left: 15px;
          a {
            text-decoration: none;
            color: #233a95;
          }
        }
      }
    }
  }
  span {
    font-size: 13px;
    color: #71778e;
  }
  .policy {
    ul {
      li {
        display: inline;
        margin-left: 25px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
