* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .notify {
  background-color: #233a95;
  text-align: center;
  color: white;
  height: 36px;
  font-size: 26px;
  padding-top: 7px;
  font-family: sans-serif;
}

#header .header-top {
  border-bottom: 1px solid #ebecf0;
}

#header .header-top ul {
  display: inline;
}

#header .header-top ul li {
  list-style: none;
  display: inline;
}

#header .header-top ul li a {
  color: #3e445a;
  text-decoration: none;
  padding-right: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#header .header-top ul li a:hover {
  color: #2bbef9;
}

#header .header-top .security {
  border-right: 1px solid #ebecf0;
}

#header .header-top .help {
  font-size: 11px;
  border-right: 1px solid #ebecf0;
}

#header .header-top .help a {
  color: #2bbef9;
  text-decoration: none;
  font-weight: bold;
}

#header .header-top .help a:hover {
  text-decoration: underline;
}

#header .header-top .dropdown {
  position: relative;
  display: inline-block;
}

#header .header-top .dropdown .active {
  color: #2bbef9;
}

#header .header-top .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-top .dropdown h6 {
  font-size: 15px;
}

#header .header-top .dropdown h6:hover {
  color: #2bbef9;
}

#header .header-top .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #ffff;
}

#header .header-top .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header .header-top .dropdown .dropdown-content a:hover {
  color: #2bbef9;
}

#header .header-center .img a {
  text-decoration: none;
  color: #71778e;
  font-size: 11px;
}

#header .header-center .img img {
  width: 100%;
  height: 100%;
}

#header .header-center .location .btn-modal {
  position: relative;
  background-color: white;
  color: #233a95;
  border: 1px solid rgba(151, 151, 151, 0.5);
  margin-top: 8px;
  margin-left: 35px;
  height: 54px;
  border-radius: 5px;
  width: 180px;
}

#header .header-center .location .btn-modal strong {
  font-size: 13px;
  color: #223a95;
  padding-right: 50px;
}

#header .header-center .location .btn-modal .fa-solid {
  font-size: 13px;
  position: absolute;
  top: 20px;
  right: 12px;
}

#header .header-center .location .btn-modal span {
  font-size: 0.6875rem;
  margin: 0;
  color: #979797;
  padding-right: 82px;
}

#header .header-center .location .btn-modal:hover {
  -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
}

#header .header-center .location .btn-modal:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header .header-center .location .modal-body {
  height: 400px;
  overflow-y: scroll;
}

#header .header-center .location .modal-body span {
  float: right;
}

#header .header-center .location .modal-body .modals-search {
  margin-left: 32px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 7px;
  background-color: #f3f4f7;
  width: 417px;
  border-radius: 5px;
}

#header .header-center .location .modal-body .search {
  background-color: transparent;
}

#header .header-center .location .modal-body .search::-webkit-input-placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search:-ms-input-placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search::-ms-input-placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search::placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search:focus {
  border: none;
}

#header .header-center .location .modal-body .search:focus-visible {
  outline: none;
}

#header .header-center .search #search {
  width: 100%;
  height: 60px;
  outline: none;
  background-color: #f3f4f7;
  color: #202435;
  border: none;
  border-radius: 4px;
}

#header .header-center .search i {
  position: relative;
  top: -40px;
  left: 90%;
}

#header .header-center .left a {
  color: black;
}

#header .header-center .left a i {
  margin-top: 10px;
}

#header .header-center .left .basket {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff1ee;
  text-align: center;
  position: relative;
  left: 40%;
}

#header .header-center .left .basket i {
  margin-top: 13px;
  color: red;
}

#header .header-center .left .dropdown {
  position: relative;
  display: inline-block;
}

#header .header-center .left .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-center .left .dropdown .dropdown-content {
  height: 280px;
  display: none;
  position: absolute;
  width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  border-radius: 8px;
  background-color: #ffff;
}

#header .header-center .left .dropdown .dropdown-content .img {
  margin-top: 20%;
  display: block;
}

#header .header-center .left .dropdown .dropdown-content .img img {
  width: 20%;
  height: 20%;
}

#header .header-center .left .dropdown .dropdown-content .txt {
  height: 100px;
  width: 80%;
  border-top: 1px solid #ebecf0;
  margin-top: 25%;
  margin-left: 7%;
  text-align: center;
}

#header .header-center .left .dropdown .dropdown-content .txt p {
  margin-top: 8%;
  font-size: 13px;
}

#header .header-bottom .dropdown button {
  background-color: #2bbef9;
  color: white;
  border-radius: 24px;
  border: none;
  height: 50px;
  width: 213.74px;
  outline: none;
}

#header .header-bottom .dropdown .dropdown-menu {
  width: 300px;
  border-top: 1px solid #ebecf0;
}

#header .header-bottom .dropdown .dropdown-menu li {
  padding-top: 10px;
  font-size: 16px;
  color: #3e445a;
}

#header .header-bottom .dropdown .dropdown-menu li i {
  padding-right: 10px;
}

#header .header-bottom .dropdown .dropdown-menu li a:hover {
  color: #2bbef9;
}

#header .header-bottom .shop-dropdown {
  position: relative;
  height: 60px;
}

#header .header-bottom .shop-dropdown:hover .content {
  display: block;
}

#header .header-bottom .shop-dropdown .page {
  text-align: center;
  margin-top: 25px;
}

#header .header-bottom .shop-dropdown .page a {
  text-decoration: none;
  color: #3e445a;
  font-size: 16px;
}

#header .header-bottom .shop-dropdown .content {
  position: absolute;
  display: none;
  z-index: 100;
  width: 1553px;
  background-color: white;
  left: -585px;
  top: 40px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 50px;
}

#header .header-bottom .shop-dropdown .content .first {
  color: #0931c2;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 20px;
}

#header .header-bottom .shop-dropdown .content a {
  text-decoration: none;
  color: #2b2b2b;
  display: inline-block;
  padding-bottom: 10px;
}

#header .header-bottom .shop-dropdown .content a:hover {
  color: #2bbef9;
}

#header .header-bottom .shop-dropdown .content .lists:hover .first {
  color: #2bbef9;
}

#header .header-bottom .navigation ul {
  display: inline;
}

#header .header-bottom .navigation ul li {
  display: inline-block;
  padding-left: 10px;
}

#header .header-bottom .navigation ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #3e445a;
  padding-left: 20px;
  width: 50px;
  min-height: 50px !important;
}

#header .header-bottom .navigation ul li a:hover {
  color: #2bbef9;
  background-color: #ecf6fa;
}

#header .header-bottom .navigation .dropdown {
  position: relative;
  display: inline-block;
  color: #3e445a;
}

#header .header-bottom .navigation .dropdown .head {
  width: 96.28px;
  height: 50px;
}

#header .header-bottom .navigation .dropdown .head h5 {
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}

#header .header-bottom .navigation .dropdown .head h5 a {
  text-decoration: none;
  color: #3e445a;
}

#header .header-bottom .navigation .dropdown .head h5:hover {
  color: #2bbef9;
  background-color: #ecf6fa;
  height: 100%;
  border-radius: 40%;
}

#header .header-bottom .navigation .dropdown .active {
  color: #2bbef9;
}

#header .header-bottom .navigation .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-bottom .navigation .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #fff;
}

#header .header-bottom .navigation .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header .header-bottom .navigation .dropdown .dropdown-content a:hover {
  color: #2bbef9;
}

#header .header-bottom .navigation .dropdown .big {
  width: 1320px;
  margin-left: 100%;
}

#header .header-bottom .navigation .dropdown .big ul li {
  list-style: none;
}

#content .text {
  text-align: center;
  color: #202435;
  font-family: "Inter", sans-serif;
}

#content .cards {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .cards .location {
  margin-right: 75px;
  width: 350px;
}

#content .cards .phone {
  width: 350px;
}

#content .cards .mail {
  margin-left: 65px;
  width: 350px;
}

#content .cards .content {
  height: 200px;
  background-color: #f3f3f6;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: block;
  align-items: center;
  text-align: center;
}

#content .cards .content i {
  font-size: 30px;
  position: absolute;
  top: 20%;
  position: relative;
  color: #233a95;
}

#content .cards .content .txt {
  font-size: 16px;
  margin-top: 50px;
  margin-left: 20px;
  text-align: center;
}

#content .send {
  margin-top: 95px;
  margin-left: 3.5%;
  color: #202435;
  height: 800px;
  -webkit-box-shadow: 4px 4px 8px 8px rgba(83, 83, 83, 0.2), 0 6px 20px 0 rgba(116, 114, 114, 0.19);
          box-shadow: 4px 4px 8px 8px rgba(83, 83, 83, 0.2), 0 6px 20px 0 rgba(116, 114, 114, 0.19);
}

#content .send .header {
  text-align: center;
  padding-top: 35px;
  margin-bottom: -10px;
  margin-left: 13%;
  border-bottom: 1px solid #ebecf0;
}

#content .form {
  margin-left: 18%;
  width: 75%;
}

#content .form .form-control {
  background-color: #f3f3f6 !important;
  border: none;
  height: 2.875rem;
}

#content .form .message {
  min-height: 120px;
}

#content .form .btn {
  background-color: #233A95;
  color: white !important;
  width: 150px;
  height: 45px;
}

.coupon {
  width: 100%;
  height: 360px;
  background-color: #233a95;
  position: relative;
}

.coupon img {
  position: absolute;
  bottom: 0%;
}

.coupon .content {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  position: absolute;
  top: 15%;
  left: 10%;
}

.coupon .content p {
  font-family: "Inter", sans-serif;
  padding-top: 5px;
  color: gray;
  font-weight: 200;
  font-size: 14px;
}

.coupon .content .form {
  color: white;
  position: absolute;
  left: 10%;
  top: 20%;
  position: relative;
}

.coupon .content .form i {
  position: absolute;
  top: 28%;
  left: -7.5%;
  color: gray;
  font-size: 25px;
}

.coupon .content .form .input {
  width: 470px;
  height: 70px;
  border-radius: 4px;
  border: none;
  text-align: center;
  margin-left: -50px;
  outline: none;
}

.coupon .content .form .btn {
  right: 1%;
  top: 10%;
  position: absolute;
  height: 55px;
  width: 95px;
  background-color: #233a95;
  border: none;
}

.info {
  height: 30px;
  padding-left: 3%;
  text-align: center;
  font-family: Inter, sans-serif;
}

.info .bor {
  border-right: 1px solid #ebecf0;
  padding-right: 5px;
}

.info .img-one {
  margin-left: 10px;
}

.info i::after {
  padding-left: 10px;
}

.footer {
  background: #f7f8fd;
  height: 260px;
  padding-left: 5%;
}

.footer .dairy {
  padding-right: 15px;
}

.footer h4 a {
  color: #202435;
  font-size: 0.9375rem;
  font-weight: bolder;
}

.footer ul {
  list-style: none;
}

.footer ul a {
  text-decoration: none;
  color: #71778e;
}

.footer ul li {
  margin-top: 5px;
  font-size: 13px;
  cursor: pointer;
}

.footer .social {
  margin-top: 150px;
}

.footer .social .phone {
  width: 50px;
  height: 50px;
  border-top: 2px solid #ebecf0;
  border-radius: 50%;
  text-align: center;
}

.footer .social .phone img {
  margin-top: 7px;
  position: relative;
}

.footer .social .phone span {
  font-size: xx-large;
}

.footer .social .download {
  height: 100px;
}

.footer .social .download span {
  font-size: 13px;
  color: #71778e;
}

.footer .social .download img {
  position: relative;
  bottom: 23%;
  left: 3%;
  cursor: pointer;
}

.footer .social .links ul {
  list-style: none;
}

.footer .social .links ul li {
  display: inline;
  margin-left: 15px;
}

.footer .social .links ul li a {
  text-decoration: none;
  color: #233a95;
}

.footer span {
  font-size: 13px;
  color: #71778e;
}

.footer .policy ul li {
  display: inline;
  margin-left: 25px;
}

.footer .policy ul li:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=contact.css.map */