* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary-background-color: #233a95;
$main-background-color: white;
$header-font-family: "Inter", sans-serif;
$text-color: #2bbef9;
$span-color: #71778e;
$border-color: #eeebeb;
$main-text-color: #3e445a;
#header {
  .notify {
    background-color: $primary-background-color;
    text-align: center;
    color: white;
    height: 36px;
    font-size: 26px;
    padding-top: 7px;
    font-family: sans-serif;
  }
  .header-top {
    border-bottom: 1px solid $border-color;
    ul {
      display: inline;
      li {
        list-style: none;
        display: inline;
        a {
          color: $main-text-color;
          text-decoration: none;
          padding-right: 10px;
          font-size: 15px;
          font-family: sans-serif;
          &:hover {
            color: #2bbef9;
          }
        }
      }
    }
    .security {
      border-right: 1px solid $border-color;
    }
    .help {
      font-size: 11px;
       a {
        color: #2bbef9;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      border-right: 1px solid $border-color;
    }
    .dropdown {
      position: relative;
      display: inline-block;
       .active {
        color: #2bbef9;
      }
      &:hover .dropdown-content {
        display: block;
      }
      h6
      {
        font-size: 15px;
        &:hover {
          color: #2bbef9;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        background-color: #ffff;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            color: #2bbef9;
          }
        }
      }
    }
  }
  .header-center {
    .img {
      a {
        text-decoration: none;
        color: $span-color;
        font-size: 11px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .search {
      #search {
        width: 100%;
        height: 60px;
        outline: none;
        background-color: #f3f4f7;
        color: #202435;
        border: none;
        border-radius: 4px;
      }
      i {
        position: relative;
        top: -40px;
        left: 90%;
      }
    }
    .left {
      a {
        color: black;
        i {
          margin-top: 10px;
        }
      }
      .basket {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff1ee;
        text-align: center;
        position: relative;
        left: 40%;

        i {
          margin-top: 13px;
          color: red;
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;
        &:hover .dropdown-content {
          display: block;
        }
        .dropdown-content {
          height: 280px;
          display: none;
          position: absolute;
          width: 300px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          text-align: center;
          border-radius: 8px;
          background-color: #ffff;
          .img {
            margin-top: 20%;
            display: block;
            img {
              width: 20%;
              height: 20%;
            }
          }
          .txt {
            height: 100px;
            width: 80%;
            border-top: 1px solid $border-color;
            margin-top: 25%;
            margin-left: 7%;
            text-align: center;
            p {
              margin-top: 8%;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .header-bottom {
    .dropdown {
      button {
        background-color: #2bbef9;
        color: white;
        border-radius: 24px;
        border: none;
        height: 50px;
        width: 213.74px;
        outline: none;
      }
      .dropdown-menu {
        width: 300px;
        border-top: 1px solid $border-color;
        li {
          padding-top: 10px;
          font-size: 16px;
          color: $main-text-color;
          i {
            padding-right: 10px;
          }
          a:hover {
            color: #2bbef9;
          }
        }
      }
    }
    .navigation {
      ul {
        display: inline;
        
       li {
          display: inline-block;
          padding-left: 10px;;
          
          a {
            font-size: 15px;
            text-decoration: none;
            color: $main-text-color;
            padding-left: 20px;
            width: 50px;
            min-height: 50px !important;
            &:hover {
              color: #2bbef9;
              background-color: #ecf6fa;
            }
          }
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;
        color: $main-text-color;
        .head {
          width: 96.28px;
          height: 50px;

          h5 {
            font-size: 15px;
            text-align: center;
            padding-top: 15px;
            a {
              text-decoration: none;
              color: $main-text-color;
            }
            &:hover {
              color: #2bbef9;
              background-color: #ecf6fa;
              height: 100%;
              border-radius: 40%;
            }
          }
        }
        .active {
          color: #2bbef9;
        }
        &:hover .dropdown-content {
          display: block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
              color: #2bbef9;
            }
          }
        }
        .big {
          width: 1320px;
          margin-left: 100%;
          ul {
            li {
              list-style: none;
            }
          }
        }
      }
    }
  }
}

#slider {
  height: 500px;
  img {
    height: 500px;
  }
  .btn-left {
    position: relative;
    bottom: 20%;
  }
}

#product-list {
  .products {
    width: 1300px;
    height: 300px;
    border: 3px solid red;
   .first-product {
     
     .info{
       text-align: center;
     }
     img{
       width: 100%;
       height: 70%;
     }
   }
   
    .top-products{
      width:1060px;
      background-color:#233a95;
      height: 150px;
      border-bottom:1px solid green;
    
   }
    
    
  }
}
#subscribe {
  .subscribe-box {
    img {
      position: absolute;
      right: 18%;
      bottom: 0%;
      z-index: 1;
    }
    p {
      font-family: $header-font-family;
      padding-top: 5px;
      color: #7a7a7a !important;
      font-weight: 200;
      font-size: 14px;
    }
    .subscribe-text-box {
      .btn {
        right: 1%;
        top: 10%;
        position: absolute;
        height: 50px;
        background-color: #233a95;
        border: none;
      }
      .input-box {
        i {
          position: absolute;
          top: 22%;
          left: 2%;
          color: #7a7a7a;
        }
        input {
          width: 470px;
          height: 62px;
          border-radius: 4px;
          border: none;
          padding-left: 50px;
        }
        position: relative;
      }
      color: white;
      position: absolute;
      z-index: 100;
      left: 10%;
      top: 20%;
    }
    width: 100%;
    height: 320px;
    background-color: #233a95;
    position: relative;
  }
}
#icons-footer {
  padding-top: 5px;
  background-color: #f7f8fd;
  .icons-box {
    border-bottom: 1px solid #e4e5ee;

    .icon {
      height: 20px;
      border-right: 1px solid #e4e5ee;
    }
  }
}
#footer-categories {
  padding: 1px;
  background-color: #f7f8fd;
  .custom-col-2 {
    width: 228px !important;
    .list-group {
      .second {
        font-family: $header-font-family !important;
        font-size: 13px !important;
      }
      .first {
        font-family: $header-font-family;
        font-size: 14px !important;
        color: black !important;
      }
      .list-group-item {
        background-color: #f7f8fd;
        border: none;
        color: #7a7a7a;
        font-size: 16px;
      }
    }
  }
}
#social {
  .phone-and-apps {
    border-bottom: 1px solid gray;
    .phone {
      i {
        border: 1px solid gray;
        padding: 10px;
        border-radius: 50%;
      }
      h4 {
        display: inline-block;
        font-weight: 700;
        margin-left: 10px;
      }
      span {
        color: gray;
        display: block;
        margin-left: 50px;
        font-size: 14px;
      }
    }
    .app-text {
      h6 {
        font-size: 15px;
        display: inline-block;
        font-weight: 650;
      }
      span {
        color: gray;
        display: block;
        font-size: 14px;
      }
    }
    .icons {
      font-size: 8px;
      i {
        color: darkblue;
        border: 1px solid gray;
        padding: 15px 17px;
        border-radius: 50%;
      }
    }
    .socials {
      display: flex;
      justify-content: end;
      i,
      img {
        cursor: pointer;
      }
    }
  }
}

#info-website {
  margin-top: 20px;
  span {
    font-size: 12px;
  }
  img {
    width: 200px;
    height: 30px;
  }
}


