body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #202435;
}

a {
  text-decoration: none;
  color: #202435;
}

hr {
  color: #00000060;
}

.notify {
  position: relative;
  color: #fff;
  background-color: #233a95;
  text-align: center;
  height: 36px;
  font-size: 13px;
  padding-top: 8px;
}

.header-top {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 22px;
}

.header-top a {
  text-decoration: none;
}

.header-top .link-left {
  padding-top: 10px;
}

.header-top .link-left a {
  color: currentColor;
  padding-left: 10px;
}

.header-top .link-left a:hover {
  color: #2bbef9;
}

.header-top .about {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top .about .secure-text {
  padding-top: 10px;
}

.header-top .about .help {
  border-right: 1px solid #6b6c722f;
  border-left: 1px solid #6b6c722f;
  padding-left: 12px;
  padding-right: 12px;
  height: 38px;
  padding-top: 10px;
}

.header-top .about .help a {
  font-weight: bold;
}

.header-top .about .help a:hover {
  text-decoration: underline;
}

.header-top .about img {
  height: 20px;
}

.header-top .about .help {
  padding-top: 11px;
}

.header-top .about .help a {
  color: #2bbef9;
}

.header-top .about .dropdown-buttons {
  padding-top: 10px;
}

.header-top .about .dropdown-buttons .drop-button {
  background-color: white;
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.header-top .about .dropdown-buttons .drop-button img {
  height: 12px;
}

.header-top .about .dropdown-buttons .dropdown {
  position: relative;
  display: inline-block;
}

.header-top .about .dropdown-buttons .content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-top .about .dropdown-buttons .content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.header-top .about .dropdown-buttons .content a:hover {
  color: #2bbef9;
}

.header-top .about .dropdown-buttons .dropdown:hover .content {
  display: block;
}

.header-top .about .dropdown-buttons .dropdown:hover .drop-button {
  color: #2bbef9;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
}

.header-center .logo-site-brand a {
  text-decoration: none;
  color: #202435;
}

.header-center .logo-site-brand a .logo {
  max-width: 164px;
  height: 43px;
}

.header-center .logo-site-brand a .logo img {
  width: 164px;
}

.header-center .logo-site-brand a p {
  opacity: 0.5;
  font-size: 12px;
}

.header-center .location .btn-modal {
  position: relative;
  background-color: white;
  color: #233a95;
  border: 1px solid rgba(151, 151, 151, 0.5);
  margin-top: 8px;
  margin-left: 35px;
  height: 54px;
  border-radius: 5px;
  width: 180px;
}

.header-center .location .btn-modal strong {
  font-size: 13px;
  color: #223a95;
  padding-right: 50px;
}

.header-center .location .btn-modal .fa-solid {
  font-size: 13px;
  position: absolute;
  top: 20px;
  right: 12px;
}

.header-center .location .btn-modal span {
  font-size: 0.6875rem;
  margin: 0;
  color: #979797;
  padding-right: 82px;
}

.header-center .location .btn-modal:hover {
  -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
}

.header-center .location .btn-modal:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-center .location .modal-body {
  height: 400px;
  overflow-y: scroll;
}

.header-center .location .modal-body span {
  float: right;
}

.header-center .location .modal-body .modals-search {
  margin-left: 32px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 7px;
  background-color: #f3f4f7;
  width: 417px;
  border-radius: 5px;
}

.header-center .location .modal-body .search {
  background-color: transparent;
}

.header-center .location .modal-body .search::-webkit-input-placeholder {
  color: #979797;
}

.header-center .location .modal-body .search:-ms-input-placeholder {
  color: #979797;
}

.header-center .location .modal-body .search::-ms-input-placeholder {
  color: #979797;
}

.header-center .location .modal-body .search::placeholder {
  color: #979797;
}

.header-center .location .modal-body .search:focus {
  border: none;
}

.header-center .location .modal-body .search:focus-visible {
  outline: none;
}

.header-center .search {
  margin-top: 8px;
  padding-left: 30px;
  position: relative;
}

.header-center .search .logo {
  position: absolute;
  right: 12px;
  top: 25%;
  font-size: 22px;
  opacity: 0.7;
}

.header-center .search input {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  border-color: #f3f4f700;
  background-color: #7f80861c;
  outline: none;
}

.header-center .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

.header-center .right a {
  text-decoration: none;
  color: #202435;
}

.header-center .right .user {
  position: relative;
  top: 14px;
  border-radius: 50%;
  border: 1px solid #e2e4ec;
  width: 40px;
  height: 40px;
  text-align: center;
}

.header-center .right .user i {
  padding-top: 10px;
}

.header-center .right .price {
  margin: 20px;
}

.header-center .right .icon {
  position: relative;
  top: 14px;
  border-radius: 50%;
  border: 1px solid #fff1ee;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #fff1ee;
}

.header-center .right .icon i {
  color: #ea2b0f;
  padding-top: 10px;
}

.header-center .right .icon sub {
  position: absolute;
  top: 0;
}

.header-center .right .icon sub .count {
  padding-top: 8px;
  border-radius: 50%;
  border: 1px solid #fff1ee;
  background-color: #ea2b0f;
  color: #ffffff;
  height: 17px;
  width: 17px;
}

.header-center .right .dropdown:hover .cart-content {
  display: block;
}

.header-center .right .dropdown {
  position: relative;
  display: inline-block;
}

.header-center .right .dropdown:hover .dropdown-content {
  display: block;
}

.header-center .right .dropdown .dropdown-content {
  height: 280px;
  display: none;
  position: absolute;
  width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  border-radius: 8px;
  background-color: #ffff;
}

.header-center .right .dropdown .dropdown-content .img {
  margin-top: 20%;
  display: block;
}

.header-center .right .dropdown .dropdown-content .img img {
  width: 20%;
  height: 20%;
}

.header-center .right .dropdown .dropdown-content .txt {
  height: 100px;
  width: 80%;
  border-top: 1px solid #e3e4e9;
  margin-top: 25%;
  margin-left: 7%;
  text-align: center;
}

.header-center .right .dropdown .dropdown-content .txt p {
  margin-top: 8%;
  font-size: 13px;
}

.all-categories {
  margin-top: 10px;
  padding-left: 36px;
  position: relative;
  height: 76px;
}

.all-categories:hover .all-categories-content {
  display: block;
}

.all-categories .all-categories-button {
  width: 213px;
  height: 3.125rem;
  background-color: #2bbef9;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  border-radius: 3.125rem;
  padding-top: 12px;
}

.all-categories .all-categories-button i {
  padding-left: 14px;
  font-size: 14px;
}

.all-categories .products-count {
  background-color: #f3f4f7;
  font-size: 10px;
  color: #8f8f8f;
  font-weight: 500;
  width: 120px;
  text-align: center;
  height: 25px;
  border-radius: 3.125rem;
  border: 1px solid white;
  position: absolute;
  top: 37px;
  left: 70px;
  padding-top: 3px;
  cursor: pointer;
}

.all-categories .all-categories-content {
  border: 1px solid rgba(151, 151, 151, 0.5);
  margin-top: 25px;
  width: 280px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 14px;
  color: #2b2b2b;
  z-index: 100;
  position: absolute;
  display: none;
  background-color: white;
}

.all-categories .all-categories-content .fruits-vegetables {
  position: relative;
  width: 260px;
  height: 40px;
}

.all-categories .all-categories-content .fruits-vegetables:hover .fruits-vegetables-content {
  display: block;
}

.all-categories .all-categories-content .fruits-vegetables .fruits-vegetables-button {
  cursor: pointer;
}

.all-categories .all-categories-content .fruits-vegetables .fruits-vegetables-button:hover {
  color: #2bbef9;
}

.all-categories .all-categories-content .fruits-vegetables .fruits-vegetables-content {
  border: 1px solid rgba(139, 139, 139, 0.5);
  position: absolute;
  top: -21px;
  left: 259px;
  height: 445px;
  z-index: 100;
  display: none;
  width: 280px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
}

.all-categories .all-categories-content .fruits-vegetables .fruits-vegetables-content p {
  cursor: pointer;
}

.all-categories .all-categories-content .fruits-vegetables .fruits-vegetables-content p:hover {
  color: #2bbef9;
}

.all-categories .all-categories-content .meats-seafood {
  height: 40px;
}

.all-categories .all-categories-content .meats-seafood .meats-seafood-button {
  cursor: pointer;
}

.all-categories .all-categories-content .meats-seafood .meats-seafood-button:hover {
  color: #2bbef9;
}

.all-categories .all-categories-content .breakfast-dairy {
  height: 40px;
}

.all-categories .all-categories-content .breakfast-dairy .breakfast-dairy-btn {
  cursor: pointer;
}

.all-categories .all-categories-content .breakfast-dairy .breakfast-dairy-btn:hover {
  color: #2bbef9;
}

.all-categories .all-categories-content .beverages {
  width: 260px;
  height: 40px;
  position: relative;
}

.all-categories .all-categories-content .beverages:hover .beverages-content {
  display: block;
}

.all-categories .all-categories-content .beverages .beverages-button {
  cursor: pointer;
}

.all-categories .all-categories-content .beverages .beverages-button:hover {
  color: #2bbef9;
}

.all-categories .all-categories-content .beverages .beverages-content {
  border: 1px solid rgba(139, 139, 139, 0.5);
  position: absolute;
  top: -141px;
  left: 259px;
  height: 485px;
  z-index: 100;
  display: none;
  width: 280px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
}

.all-categories .all-categories-content .beverages .beverages-content p {
  cursor: pointer;
}

.all-categories .all-categories-content .beverages .beverages-content p:hover {
  color: #2bbef9;
}

.all-categories .all-categories-content .button {
  cursor: pointer;
  height: 40px;
}

.all-categories .all-categories-content .button:hover {
  color: #2bbef9;
}

.all-categories hr {
  width: 90%;
}

.home-dropdown {
  position: relative;
  height: 60px;
}

.home-dropdown a {
  text-decoration: none;
}

.home-dropdown:hover .content {
  visibility: visible;
}

.home-dropdown .page {
  text-align: center;
  margin-top: 25px;
}

.home-dropdown .page a {
  font-size: 15px;
}

.home-dropdown .content {
  border: 1px solid rgba(139, 139, 139, 0.5);
  position: absolute;
  top: 60px;
  left: -20px;
  height: 200px;
  z-index: 100;
  width: 180px;
  padding-left: 30px;
  padding-top: 18px;
  background-color: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  visibility: hidden;
}

.home-dropdown .content a {
  display: inline-block;
  padding-top: 5px;
  font-size: 16px;
}

.shop-dropdown {
  position: relative;
  height: 60px;
}

.shop-dropdown:hover .content {
  display: block;
}

.shop-dropdown .page {
  text-align: center;
  margin-top: 25px;
}

.shop-dropdown .page a {
  font-size: 15px;
}

.shop-dropdown .content {
  position: absolute;
  display: none;
  z-index: 100;
  width: 1553px;
  background-color: white;
  left: -585px;
  top: 40px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.shop-dropdown .content .first {
  color: #0931c2;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 20px;
}

.shop-dropdown .content a {
  text-decoration: none;
  color: #2b2b2b;
  display: inline-block;
  padding-bottom: 10px;
}

.shop-dropdown .content a:hover {
  color: #2bbef9;
}

.shop-dropdown .content .lists:hover .first {
  color: #2bbef9;
}

.page {
  text-align: center;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page a {
  font-size: 15px;
}

#carousel .carousel .carousel-item {
  position: relative;
}

#carousel .carousel .carousel-item .first {
  color: #2b2b2b;
  top: 50px;
  left: -400px;
  position: absolute;
}

#carousel .carousel .carousel-item .first .offer {
  font-size: 14px;
}

#carousel .carousel .carousel-item .first .offer b {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 184, 83, 0.2)), to(rgba(32, 55, 88, 0)));
  background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
  color: #038e42;
  border-radius: 3.125rem;
  font-size: 20px;
}

#carousel .carousel .carousel-item .first h1 {
  font-size: 48px;
  font-weight: 700;
}

#carousel .carousel .carousel-item .first .price {
  font-size: 38px;
  color: #d51243;
}

#carousel .carousel .carousel-item .first button {
  border: none;
  border-radius: 3.125rem;
  background-color: #2bbef9;
  color: white;
  height: 40px;
  width: 133px;
}

#carousel .carousel .carousel-item .second {
  color: #2b2b2b;
  top: 50px;
  left: -400px;
  position: absolute;
}

#carousel .carousel .carousel-item .second .offer {
  font-size: 14px;
}

#carousel .carousel .carousel-item .second .offer b {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 184, 83, 0.2)), to(rgba(32, 55, 88, 0)));
  background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
  color: #038e42;
  border-radius: 3.125rem;
  font-size: 20px;
}

#carousel .carousel .carousel-item .second h1 {
  font-size: 48px;
  font-weight: 700;
}

#carousel .carousel .carousel-item .second .price {
  font-size: 38px;
  color: #d51243;
}

#carousel .carousel .carousel-item .second button {
  border: none;
  border-radius: 3.125rem;
  background-color: #2bbef9;
  color: white;
  height: 40px;
  width: 133px;
}

#product-categories .category {
  width: 20%;
  padding: 0;
}

#product-categories .item-categories {
  height: 290px;
}

#product-categories .card {
  border: 0.5px solid rgba(0, 0, 0, 0.125);
  height: 145px;
}

#product-categories .card .card-body {
  margin-top: 25px;
  width: 140px;
  cursor: pointer;
}

#product-categories .card .card-body p {
  opacity: 0.8;
}

#product-categories .card img {
  height: 91px;
  width: 100px;
  margin-top: 26px;
}

#product-categories .first-card {
  border: 0.5px solid rgba(0, 0, 0, 0.125);
  height: 290px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#product-categories .first-card img {
  height: 212px;
  width: 262px;
}

#product-categories .f-category-body {
  text-align: center;
}

#product-categories .f-category-body p {
  opacity: 0.8;
}

#discount-products {
  position: relative;
  top: 50px;
}

#discount-products .card-products {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  width: 17.8rem;
  height: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e3e4e9;
}

#discount-products .card-products:hover {
  -webkit-box-shadow: 10px 5px 5px #b9b9b9;
          box-shadow: 10px 5px 5px #b9b9b9;
  border: 0.5px solid #233a95;
  border-radius: 6px;
}

#discount-products .card-products .hidden-icon {
  margin-top: 5px;
}

#discount-products .card-products .hidden-icon a {
  text-decoration: none;
  color: black;
}

#discount-products .card-products .hidden-icon i {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  visibility: hidden;
  margin-left: 220px;
  line-height: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 1px solid #e3e4e9;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 5px;
}

#discount-products .card-products .hidden-icon i:hover {
  background-color: #13135b;
  color: white;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#discount-products .card-products:hover .btn {
  visibility: visible !important;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#discount-products .card-products:hover i {
  visibility: visible !important;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#discount-products .card-products .card-image {
  width: 70%;
  height: 7 0%;
  margin-top: 20px;
  margin-left: 5%;
  cursor: pointer;
}

#discount-products .card-products .discount {
  position: absolute;
  border: 1px solid #2bbef9;
  background-color: #2bbef9;
  border-radius: 4px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -130px;
  margin-left: 15px;
  font-size: 13px;
  padding: 3px;
  width: 35px;
}

#discount-products .card-products .discount p {
  text-align: center;
}

#discount-products .card-products .body {
  margin-left: 10px;
}

#discount-products .card-products .body .btn {
  margin-left: 10px;
}

#discount-products .card-products .body .second-price {
  color: #ea2b0f;
  font-size: 20px;
}

#discount-products .card-products .body .a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

#discount-products .card-products .body .a:hover {
  color: #233a95;
}

#discount-products .card-products .body .price {
  color: #6c757d;
  text-decoration: line-through;
}

#discount-products .card-products .body .yellows {
  color: gold;
  font-weight: 600;
  font-size: 10px;
}

#discount-products .card-products .body .gray {
  color: gray;
  font-weight: 600;
  font-size: 10px;
}

#discount-products .card-products .body .stock {
  color: #28a745;
  font-size: 10px;
  font-weight: 700;
}

#discount-products .card-products .body .btn {
  visibility: hidden;
  background-color: #233a95;
  border-radius: 30px;
  width: 90%;
}

#discount-products .card-products .body .title {
  font-size: 13px;
  font-weight: 650;
}

.deal {
  position: relative;
  height: 750px;
  border: 2px solid #ed174a;
  border-radius: 7px;
  padding-left: 15px;
}

.deal .title {
  padding: 0;
  margin: 0;
}

.deal .title h4 {
  color: #233a95;
}

.deal .clock {
  position: relative !important;
  padding-top: 0px;
  top: 0;
  margin-left: -190px;
  height: 100px;
  width: 800px;
  zoom: 0.8;
  transform: scale(0.54);
  -ms-transform: scale(0.54);
  -webkit-transform: scale(0.54);
  -o-transform: scale(0.54);
  -moz-transform: scale(0.54);
}

.deal .clock .flip-clock-label {
  display: none !important;
}

.deal .clock .inn {
  background-color: #ed174a;
  color: white;
}

.deal .remain {
  opacity: 0.7;
  font-size: 12px;
  margin-top: -20px;
}

.deal .deal-product {
  padding-right: 30px;
}

.deal .deal-product .discount {
  position: absolute;
  top: 220px;
  left: 60px;
  height: 70px;
  width: 70px;
  background-color: #ed174a;
  border-radius: 50%;
  text-align: center;
}

.deal .deal-product .discount p {
  padding-top: 26%;
  color: white;
  font-size: 24px;
}

.deal .deal-product .image img {
  width: 350px;
  height: 315px;
}

.deal .deal-product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deal .deal-product .price del {
  font-weight: 600;
  opacity: 0.3;
  font-size: 22px;
}

.deal .deal-product .price p {
  margin-left: 20px;
  font-weight: 550;
  color: #ed174a;
  font-size: 26px;
  margin-top: -5px;
}

.deal .deal-product .name a {
  font-size: 22px;
}

.deal .deal-product .stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.deal .deal-product .stock p {
  opacity: 0.6;
  font-size: 11px;
}

.deal .deal-product .stock span {
  color: #00b863;
  font-size: 11px;
  font-weight: 600;
  padding-left: 14px;
}

.deal .deal-product .star {
  font-size: 11px;
}

.deal .deal-product .star .orange {
  color: orange;
}

.deal .deal-product .star span {
  opacity: 0.6;
}

.deal .deal-product .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.deal .deal-product .product .ava {
  font-size: 10px;
  color: #c2c2d3;
  font-weight: 700;
  padding-right: 6px;
}

.deal .deal-product .product .count {
  color: #233a95;
  font-weight: 580;
  margin-top: -7px;
}

.deal .deal-product .deal-progress {
  margin-top: 10px;
  background-color: #edeef5;
  width: 100%;
  height: 15px;
  border-radius: 0.75rem;
}

.deal .deal-product .deal-progress .progress {
  top: 0;
  left: 0;
  width: 66.6%;
  height: 100%;
  background: #d51243;
  background: -webkit-gradient(linear, left top, right top, from(#d51243), color-stop(50%, #ff6048), to(#ffcd00));
  background: linear-gradient(90deg, #d51243 0%, #ff6048 50%, #ffcd00 100%);
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-container .card {
  height: 390px;
}

.product-container .card img {
  margin-top: 10px;
  width: 100%;
}

.product-container .card .card-body .first-card-content {
  width: 210px;
}

.product-container .card .card-body .first-card-content p {
  color: #00b863;
  font-size: 11px;
  font-weight: 600;
  margin-top: 10px;
}

.product-container .card .card-body .first-card-content a {
  font-weight: 500;
}

.product-container .card .card-body .card-star {
  font-size: 11px;
}

.product-container .card .card-body .card-star span {
  color: rgba(0, 0, 0, 0.125);
}

.product-container .card .card-body .card-star p {
  display: inline;
}

.product-container .card .card-body .card-star .orange {
  color: orange;
}

.product-container .card .card-body .card-star .add-button {
  margin-top: 20px;
}

.product-container .card .card-body .card-star .add-button a {
  margin-left: 16%;
  width: 100px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#weekend-discount {
  margin-top: 100px;
}

#weekend-discount .first-banner {
  width: 666px;
  margin-left: -28px;
}

#weekend-discount .first-banner img {
  width: 100%;
  border-radius: 10px;
}

#weekend-discount .first-banner button {
  border: none;
  border-radius: 3.125rem;
  background-color: #233a95;
  color: white;
  height: 40px;
  width: 123px;
  position: absolute;
  left: 14%;
  margin-top: 200px;
}

#weekend-discount .first-banner .content {
  margin-left: 8%;
  margin-top: -190px;
  letter-spacing: 0;
}

#weekend-discount .first-banner .content span {
  color: #ff6048;
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
}

#weekend-discount .first-banner .content strong {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.8px;
  color: #3e445a;
}

#weekend-discount .first-banner .content p {
  font-size: 0.75rem;
  color: #3e445a;
  padding-top: 10px;
}

#weekend-discount .second-banner {
  width: 666px;
}

#weekend-discount .second-banner img {
  width: 100%;
  border-radius: 10px;
}

#weekend-discount .second-banner button {
  border: none;
  border-radius: 3.125rem;
  background-color: #ed174a;
  color: white;
  height: 40px;
  width: 123px;
  position: absolute;
  left: 55.5%;
  margin-top: 200px;
}

#weekend-discount .second-banner .content {
  margin-left: 8%;
  margin-top: -190px;
  letter-spacing: 0;
}

#weekend-discount .second-banner .content span {
  color: #ff6048;
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
}

#weekend-discount .second-banner .content strong {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.8px;
  color: #3e445a;
}

#weekend-discount .second-banner .content p {
  font-size: 0.75rem;
  color: #3e445a;
  padding-top: 10px;
}

#best-sellers {
  margin-top: 120px;
}

#best-sellers .owl-dots {
  display: none;
}

#best-sellers .owl-prev {
  font-size: 40px;
}

#best-sellers .owl-next {
  font-size: 40px;
}

#best-sellers .best-seller-title h4 {
  font-weight: 600;
  font-size: 20px;
  color: #202435;
  line-height: 24px;
}

#best-sellers .best-seller-title p {
  font-weight: 400;
  font-size: 12px;
  color: #9b9bb4;
  line-height: 18px;
}

#best-sellers .view-all-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#best-sellers .view-all-btn button {
  border: 1px solid #9b9bb4;
  border-radius: 3.125rem;
  background-color: transparent;
  color: #9b9bb4;
  height: 40px;
  width: 143px;
  text-align: left;
  margin-top: -60px !important;
}

#best-sellers .view-all-btn button i {
  float: end;
}

#best-sellers .card {
  height: 390px;
}

#best-sellers .card img {
  margin-top: 10px;
  width: 70%;
  margin-left: 10%;
}

#best-sellers .card .card-body .first-card-content {
  width: 210px;
}

#best-sellers .card .card-body .first-card-content p {
  color: #00b863;
  font-size: 11px;
  font-weight: 600;
  margin-top: 10px;
}

#best-sellers .card .card-body .first-card-content a {
  font-weight: 500;
}

#best-sellers .card .card-body .card-star {
  font-size: 11px;
}

#best-sellers .card .card-body .card-star span {
  color: rgba(0, 0, 0, 0.125);
}

#best-sellers .card .card-body .card-star p {
  display: inline;
}

#best-sellers .card .card-body .card-star .checked {
  color: orange;
}

#best-sellers .card .card-body .card-star .add-to-cart-btn {
  margin-top: 30px;
}

#best-sellers .card .card-body .card-star .add-to-cart-btn a {
  margin-left: 16%;
  width: 80px;
}

#best-sellers .card .card-body .card-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

#best-sellers .card .card-body .card-product-price del {
  font-weight: 550;
  opacity: 0.3;
  font-size: 16px;
}

#best-sellers .card .card-body .card-product-price p {
  margin-left: 14px;
  font-weight: 540;
  color: #ed174a;
  font-size: 20px;
  margin-top: -5px;
}

#best-sellers .card .card-body .card-product-price .av {
  margin-left: 0;
}

#best-sellers .card .wishlist-icon {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: absolute;
  right: 20px;
  top: 15%;
  text-align: center;
  border-radius: 50%;
  display: none;
  color: #223a95;
}

#best-sellers .card .wishlist-icon i {
  margin-top: 11px;
}

#best-sellers .card .wishlist-icon:hover {
  background-color: #223a95;
  color: white;
}

#best-sellers .card .arrows-icon {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: absolute;
  right: 20px;
  top: 3%;
  text-align: center;
  border-radius: 50%;
  display: none;
}

#best-sellers .card .arrows-icon i {
  margin-top: 17px;
}

#best-sellers .card .arrows-icon:hover {
  background-color: #223a95;
  color: white;
}

#best-sellers .card:hover {
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#best-sellers .card:hover .wishlist-icon {
  display: block;
}

#best-sellers .card:hover .arrows-icon {
  display: block;
}

#best-sellers .discount {
  width: 50px;
  height: 25px;
  background-color: #2bbef9 !important;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 550;
  margin-top: 20px;
  position: absolute;
}

#best-sellers .discount p {
  padding-top: 3px;
}

.module-body {
  height: 80px;
  background-color: #fbeacf;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.module-body h4 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 5px;
  position: absolute;
  top: 32%;
  left: 22%;
}

#second-product-container {
  margin-top: 50px;
}

#second-product-container .second-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#second-product-container .second-product-container .product-card {
  margin: 0;
  padding: -5px;
  padding-right: -5px;
  width: 20%;
  border-radius: 6px;
}

#second-product-container .second-product-container .card-products {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 18rem !important;
  height: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e3e4e9;
}

#second-product-container .second-product-container .card-products:hover {
  -webkit-box-shadow: 10px 5px 5px #b9b9b9;
          box-shadow: 10px 5px 5px #b9b9b9;
  border: 0.5px solid #233a95;
  border-radius: 6px;
}

#second-product-container .second-product-container .card-products .hidden-icon {
  margin-top: 5px;
}

#second-product-container .second-product-container .card-products .hidden-icon a {
  text-decoration: none;
  color: black;
}

#second-product-container .second-product-container .card-products .hidden-icon i {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  visibility: hidden;
  margin-left: 220px;
  line-height: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 1px solid #e3e4e9;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 5px;
}

#second-product-container .second-product-container .card-products .hidden-icon i:hover {
  background-color: #13135b;
  color: white;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#second-product-container .second-product-container .card-products:hover .btn {
  visibility: visible !important;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#second-product-container .second-product-container .card-products:hover i {
  visibility: visible !important;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#second-product-container .second-product-container .card-products .card-image {
  width: 70%;
  height: 7 0%;
  margin-top: 20px;
  margin-left: 5%;
  cursor: pointer;
}

#second-product-container .second-product-container .card-products .discount {
  position: absolute;
  border: 1px solid #2bbef9;
  background-color: #2bbef9;
  border-radius: 4px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -130px;
  margin-left: 15px;
  font-size: 13px;
  padding: 3px;
  width: 35px;
}

#second-product-container .second-product-container .card-products .discount p {
  text-align: center;
}

#second-product-container .second-product-container .card-products .body {
  margin-left: 10px;
}

#second-product-container .second-product-container .card-products .body .btn {
  margin-left: 10px;
}

#second-product-container .second-product-container .card-products .body .second-price {
  color: #ea2b0f;
  font-size: 20px;
}

#second-product-container .second-product-container .card-products .body .a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

#second-product-container .second-product-container .card-products .body .a:hover {
  color: #233a95;
}

#second-product-container .second-product-container .card-products .body .price {
  color: #6c757d;
  text-decoration: line-through;
}

#second-product-container .second-product-container .card-products .body .yellows {
  color: gold;
  font-weight: 600;
  font-size: 10px;
}

#second-product-container .second-product-container .card-products .body .gray {
  color: gray;
  font-weight: 600;
  font-size: 10px;
}

#second-product-container .second-product-container .card-products .body .stock {
  color: #28a745;
  font-size: 10px;
  font-weight: 700;
}

#second-product-container .second-product-container .card-products .body .btn {
  visibility: hidden;
  background-color: #233a95;
  border-radius: 30px;
  width: 90%;
}

#second-product-container .second-product-container .card-products .body .title {
  font-size: 13px;
  font-weight: 650;
}

#second-product-container .second-product-container .card {
  height: 390px;
}

#second-product-container .second-product-container .card img {
  margin-top: 10px;
  width: 100%;
}

#second-product-container .second-product-container .card .card-body .first-card-content {
  width: 210px;
}

#second-product-container .second-product-container .card .card-body .first-card-content p {
  color: #00b863;
  font-size: 11px;
  font-weight: 600;
  margin-top: 10px;
}

#second-product-container .second-product-container .card .card-body .first-card-content a {
  font-weight: 500;
}

#second-product-container .second-product-container .card .card-body .card-star {
  font-size: 11px;
}

#second-product-container .second-product-container .card .card-body .card-star span {
  color: rgba(0, 0, 0, 0.125);
}

#second-product-container .second-product-container .card .card-body .card-star p {
  display: inline;
}

#second-product-container .second-product-container .card .card-body .card-star .checked {
  color: orange;
}

#second-product-container .second-product-container .card .card-body .card-star .add-to-cart-btn {
  margin-top: 20px;
}

#second-product-container .second-product-container .card .card-body .card-star .add-to-cart-btn a {
  margin-left: 16%;
  width: 100px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#second-product-container .second-product-container .card .card-body .card-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

#second-product-container .second-product-container .card .card-body .card-product-price del {
  font-weight: 550;
  opacity: 0.3;
  font-size: 16px;
}

#second-product-container .second-product-container .card .card-body .card-product-price p {
  margin-left: 14px;
  font-weight: 540;
  color: #ed174a;
  font-size: 20px;
  margin-top: -5px;
}

#second-product-container .second-product-container .card .card-body .card-product-price .av {
  margin-left: 0;
}

#second-product-container .second-product-container .card .wishlist-icon {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: absolute;
  right: 20px;
  top: 15%;
  text-align: center;
  border-radius: 50%;
  display: none;
}

#second-product-container .second-product-container .card .wishlist-icon i {
  margin-top: 11px;
}

#second-product-container .second-product-container .card .wishlist-icon:hover {
  background-color: #223a95;
  color: white;
}

#second-product-container .second-product-container .card .arrows-icon {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: absolute;
  right: 20px;
  top: 3%;
  text-align: center;
  border-radius: 50%;
  display: none;
}

#second-product-container .second-product-container .card .arrows-icon i {
  margin-top: 17px;
}

#second-product-container .second-product-container .card .arrows-icon:hover {
  background-color: #223a95;
  color: white;
}

#second-product-container .second-product-container .card .active {
  opacity: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

#second-product-container .second-product-container .card:hover {
  height: 450px;
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #233a95;
}

#second-product-container .second-product-container .card:hover .wishlist-icon {
  display: block;
}

#second-product-container .second-product-container .card:hover .active {
  opacity: 1;
}

#second-product-container .second-product-container .card:hover .arrows-icon {
  display: block;
}

#second-product-container .second-product-container .discount {
  width: 50px;
  height: 25px;
  background-color: #2bbef9 !important;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 550;
  margin-top: 20px;
  position: absolute;
}

#second-product-container .second-product-container .discount p {
  padding-top: 3px;
}

#best-category .img-wrapper {
  position: relative;
}

#best-category .img-wrapper .img {
  height: 219px;
  width: 370px;
}

#best-category .img-wrapper .img img {
  height: 219px;
  width: 370px;
  border-radius: 8px;
}

#best-category .img-wrapper .text {
  position: absolute;
  top: 30px;
  left: 40px;
}

#best-category .img-wrapper .text .discount {
  color: #00b853;
  font-size: 0.875rem;
  font-weight: 600;
}

#best-category .img-wrapper .text .name {
  color: #3e445a;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.8px;
}

#best-category .img-wrapper .text .first {
  color: #9b9bb4;
  font-size: 0.75rem;
}

#best-category .img-wrapper .text button {
  font-size: 0.75rem;
  height: 2.125rem;
  border-radius: 1.875rem !important;
  width: 100px;
  background-color: #c2c2d3;
  color: white;
  border: none;
}

#top-category .content img {
  border-radius: 8px;
  margin-bottom: 20px;
}

#top-category .content .first {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #9b9bb4;
}

#top-category .content a {
  color: #202435;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
}

#top-category .content .date {
  font-size: 14px;
  color: #71778e;
  font-weight: 500;
}

#top-category .content .comment {
  font-weight: 500;
  font-size: 14px;
  color: #202435;
  padding-left: 10px;
}

#top-category .content .from {
  font-weight: 500;
  font-size: 14px;
  color: #202435;
  padding-left: 10px;
}

#top-category .content .from span {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #71778e;
  font-size: 14px;
}

.coupon {
  width: 100%;
  height: 360px;
  background-color: #233a95;
  position: relative;
}

.coupon img {
  position: absolute;
  bottom: 0%;
  right: 50px;
}

.coupon .content {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  position: absolute;
  top: 15%;
  left: 10%;
}

.coupon .content p {
  padding-top: 5px;
  color: gray;
  font-weight: 300;
  font-size: 14px;
}

.coupon .content .form {
  color: white;
  position: absolute;
  left: 10%;
  top: 20%;
  position: relative;
}

.coupon .content .form i {
  position: absolute;
  top: 36%;
  left: -7.5%;
  opacity: 0.3;
  color: black;
  font-size: 25px;
}

.coupon .content .form .input {
  width: 540px;
  height: 65px;
  border-radius: 4px;
  border: none;
  text-align: center;
  margin-left: -50px;
  outline: none;
  margin-top: 10px;
}

.coupon .content .form .btn {
  right: 1%;
  top: 18%;
  position: absolute;
  height: 55px;
  width: 95px;
  background-color: #233a95;
  border: none;
}

.info {
  height: 30px;
  padding-left: 3%;
  text-align: center;
}

.info .bor {
  border-right: 1px solid #e3e4e9;
  padding-right: 5px;
}

.info .img-one {
  margin-left: 10px;
}

.info i::after {
  padding-left: 10px;
}

.footer {
  background: #f7f8fd;
  height: 260px;
  padding-left: 5%;
}

.footer .dairy {
  padding-right: 15px;
}

.footer h4 a {
  color: #202435;
  font-size: 0.9375rem;
  font-weight: bolder;
}

.footer ul {
  list-style: none;
}

.footer ul a {
  font-weight: 400;
  line-height: 19.5px;
  color: #71778e;
}

.footer ul li {
  margin-top: 5px;
  font-size: 13px;
  cursor: pointer;
}

.footer .social {
  margin-top: 150px;
}

.footer .social .phone {
  width: 50px;
  height: 50px;
  border-top: 2px solid #e3e4e9;
  border-radius: 50%;
  text-align: center;
}

.footer .social .phone img {
  margin-top: 7px;
  position: relative;
}

.footer .social .phone span {
  font-size: xx-large;
}

.footer .social .download {
  height: 100px;
}

.footer .social .download span {
  font-size: 13px;
  color: #71778e;
}

.footer .social .download img {
  position: relative;
  bottom: 23%;
  left: 3%;
  cursor: pointer;
}

.footer .social .links ul {
  list-style: none;
}

.footer .social .links ul li {
  display: inline;
  margin-left: 15px;
}

.footer .social .links ul li a {
  text-decoration: none;
  color: #233a95;
}

.footer span {
  font-size: 13px;
  color: #71778e;
}

.footer .policy ul li {
  display: inline;
  margin-left: 25px;
}

.footer .policy ul li:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=home.css.map */