* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .notify {
  background-color: #233a95;
  text-align: center;
  color: white;
  height: 36px;
  font-size: 26px;
  padding-top: 7px;
  font-family: sans-serif;
}

#header .header-top {
  border-bottom: 1px solid #eeebeb;
}

#header .header-top ul {
  display: inline;
}

#header .header-top ul li {
  list-style: none;
  display: inline;
}

#header .header-top ul li a {
  color: #3e445a;
  text-decoration: none;
  padding-right: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#header .header-top ul li a:hover {
  color: #2bbef9;
}

#header .header-top .security {
  border-right: 1px solid #eeebeb;
}

#header .header-top .help {
  font-size: 11px;
  border-right: 1px solid #eeebeb;
}

#header .header-top .help a {
  color: #2bbef9;
  text-decoration: none;
  font-weight: bold;
}

#header .header-top .help a:hover {
  text-decoration: underline;
}

#header .header-top .dropdown {
  position: relative;
  display: inline-block;
}

#header .header-top .dropdown .active {
  color: #2bbef9;
}

#header .header-top .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-top .dropdown h6 {
  font-size: 15px;
}

#header .header-top .dropdown h6:hover {
  color: #2bbef9;
}

#header .header-top .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #ffff;
}

#header .header-top .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header .header-top .dropdown .dropdown-content a:hover {
  color: #2bbef9;
}

#header .header-center .img a {
  text-decoration: none;
  color: #71778e;
  font-size: 11px;
}

#header .header-center .img img {
  width: 100%;
  height: 100%;
}

#header .header-center .search #search {
  width: 100%;
  height: 60px;
  outline: none;
  background-color: #f3f4f7;
  color: #202435;
  border: none;
  border-radius: 4px;
}

#header .header-center .search i {
  position: relative;
  top: -40px;
  left: 90%;
}

#header .header-center .left a {
  color: black;
}

#header .header-center .left a i {
  margin-top: 10px;
}

#header .header-center .left .basket {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff1ee;
  text-align: center;
  position: relative;
  left: 40%;
}

#header .header-center .left .basket i {
  margin-top: 13px;
  color: red;
}

#header .header-center .left .dropdown {
  position: relative;
  display: inline-block;
}

#header .header-center .left .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-center .left .dropdown .dropdown-content {
  height: 280px;
  display: none;
  position: absolute;
  width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  border-radius: 8px;
  background-color: #ffff;
}

#header .header-center .left .dropdown .dropdown-content .img {
  margin-top: 20%;
  display: block;
}

#header .header-center .left .dropdown .dropdown-content .img img {
  width: 20%;
  height: 20%;
}

#header .header-center .left .dropdown .dropdown-content .txt {
  height: 100px;
  width: 80%;
  border-top: 1px solid #eeebeb;
  margin-top: 25%;
  margin-left: 7%;
  text-align: center;
}

#header .header-center .left .dropdown .dropdown-content .txt p {
  margin-top: 8%;
  font-size: 13px;
}

#header .header-bottom .dropdown button {
  background-color: #2bbef9;
  color: white;
  border-radius: 24px;
  border: none;
  height: 50px;
  width: 213.74px;
  outline: none;
}

#header .header-bottom .dropdown .dropdown-menu {
  width: 300px;
  border-top: 1px solid #eeebeb;
}

#header .header-bottom .dropdown .dropdown-menu li {
  padding-top: 10px;
  font-size: 16px;
  color: #3e445a;
}

#header .header-bottom .dropdown .dropdown-menu li i {
  padding-right: 10px;
}

#header .header-bottom .dropdown .dropdown-menu li a:hover {
  color: #2bbef9;
}

#header .header-bottom .navigation ul {
  display: inline;
}

#header .header-bottom .navigation ul li {
  display: inline-block;
  padding-left: 10px;
}

#header .header-bottom .navigation ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #3e445a;
  padding-left: 20px;
  width: 50px;
  min-height: 50px !important;
}

#header .header-bottom .navigation ul li a:hover {
  color: #2bbef9;
  background-color: #ecf6fa;
}

#header .header-bottom .navigation .dropdown {
  position: relative;
  display: inline-block;
  color: #3e445a;
}

#header .header-bottom .navigation .dropdown .head {
  width: 96.28px;
  height: 50px;
}

#header .header-bottom .navigation .dropdown .head h5 {
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}

#header .header-bottom .navigation .dropdown .head h5 a {
  text-decoration: none;
  color: #3e445a;
}

#header .header-bottom .navigation .dropdown .head h5:hover {
  color: #2bbef9;
  background-color: #ecf6fa;
  height: 100%;
  border-radius: 40%;
}

#header .header-bottom .navigation .dropdown .active {
  color: #2bbef9;
}

#header .header-bottom .navigation .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-bottom .navigation .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#header .header-bottom .navigation .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header .header-bottom .navigation .dropdown .dropdown-content a:hover {
  color: #2bbef9;
}

#header .header-bottom .navigation .dropdown .big {
  width: 1320px;
  margin-left: 100%;
}

#header .header-bottom .navigation .dropdown .big ul li {
  list-style: none;
}

#slider {
  height: 500px;
}

#slider img {
  height: 500px;
}

#slider .btn-left {
  position: relative;
  bottom: 20%;
}

#product-list .products {
  width: 1300px;
  height: 300px;
  border: 3px solid red;
}

#product-list .products .first-product .info {
  text-align: center;
}

#product-list .products .first-product img {
  width: 100%;
  height: 70%;
}

#product-list .products .top-products {
  width: 1060px;
  background-color: #233a95;
  height: 150px;
  border-bottom: 1px solid green;
}

#subscribe .subscribe-box {
  width: 100%;
  height: 320px;
  background-color: #233a95;
  position: relative;
}

#subscribe .subscribe-box img {
  position: absolute;
  right: 18%;
  bottom: 0%;
  z-index: 1;
}

#subscribe .subscribe-box p {
  font-family: "Inter", sans-serif;
  padding-top: 5px;
  color: #7a7a7a !important;
  font-weight: 200;
  font-size: 14px;
}

#subscribe .subscribe-box .subscribe-text-box {
  color: white;
  position: absolute;
  z-index: 100;
  left: 10%;
  top: 20%;
}

#subscribe .subscribe-box .subscribe-text-box .btn {
  right: 1%;
  top: 10%;
  position: absolute;
  height: 50px;
  background-color: #233a95;
  border: none;
}

#subscribe .subscribe-box .subscribe-text-box .input-box {
  position: relative;
}

#subscribe .subscribe-box .subscribe-text-box .input-box i {
  position: absolute;
  top: 22%;
  left: 2%;
  color: #7a7a7a;
}

#subscribe .subscribe-box .subscribe-text-box .input-box input {
  width: 470px;
  height: 62px;
  border-radius: 4px;
  border: none;
  padding-left: 50px;
}

#icons-footer {
  padding-top: 5px;
  background-color: #f7f8fd;
}

#icons-footer .icons-box {
  border-bottom: 1px solid #e4e5ee;
}

#icons-footer .icons-box .icon {
  height: 20px;
  border-right: 1px solid #e4e5ee;
}

#footer-categories {
  padding: 1px;
  background-color: #f7f8fd;
}

#footer-categories .custom-col-2 {
  width: 228px !important;
}

#footer-categories .custom-col-2 .list-group .second {
  font-family: "Inter", sans-serif !important;
  font-size: 13px !important;
}

#footer-categories .custom-col-2 .list-group .first {
  font-family: "Inter", sans-serif;
  font-size: 14px !important;
  color: black !important;
}

#footer-categories .custom-col-2 .list-group .list-group-item {
  background-color: #f7f8fd;
  border: none;
  color: #7a7a7a;
  font-size: 16px;
}

#social .phone-and-apps {
  border-bottom: 1px solid gray;
}

#social .phone-and-apps .phone i {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 50%;
}

#social .phone-and-apps .phone h4 {
  display: inline-block;
  font-weight: 700;
  margin-left: 10px;
}

#social .phone-and-apps .phone span {
  color: gray;
  display: block;
  margin-left: 50px;
  font-size: 14px;
}

#social .phone-and-apps .app-text h6 {
  font-size: 15px;
  display: inline-block;
  font-weight: 650;
}

#social .phone-and-apps .app-text span {
  color: gray;
  display: block;
  font-size: 14px;
}

#social .phone-and-apps .icons {
  font-size: 8px;
}

#social .phone-and-apps .icons i {
  color: darkblue;
  border: 1px solid gray;
  padding: 15px 17px;
  border-radius: 50%;
}

#social .phone-and-apps .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#social .phone-and-apps .socials i,
#social .phone-and-apps .socials img {
  cursor: pointer;
}

#info-website {
  margin-top: 20px;
}

#info-website span {
  font-size: 12px;
}

#info-website img {
  width: 200px;
  height: 30px;
}
/*# sourceMappingURL=home.css.map */