* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .notify {
  background-color: #233a95;
  text-align: center;
  color: white;
  height: 36px;
  font-size: 26px;
  padding-top: 7px;
  font-family: sans-serif;
}

#header .header-top {
  border-bottom: 1px solid #e3e4e9;
}

#header .header-top ul {
  display: inline;
}

#header .header-top ul li {
  list-style: none;
  display: inline;
}

#header .header-top ul li a {
  color: #3e445a;
  text-decoration: none;
  padding-right: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#header .header-top ul li a:hover {
  color: #2bbef9;
}

#header .header-top .security {
  border-right: 1px solid #e3e4e9;
}

#header .header-top .help {
  font-size: 11px;
  border-right: 1px solid #e3e4e9;
}

#header .header-top .help a {
  color: #2bbef9;
  text-decoration: none;
  font-weight: bold;
}

#header .header-top .help a:hover {
  text-decoration: underline;
}

#header .header-top .dropdown {
  position: relative;
  display: inline-block;
}

#header .header-top .dropdown .active {
  color: #2bbef9;
}

#header .header-top .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-top .dropdown h6 {
  font-size: 15px;
}

#header .header-top .dropdown h6:hover {
  color: #2bbef9;
}

#header .header-top .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #ffff;
}

#header .header-top .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header .header-top .dropdown .dropdown-content a:hover {
  color: #2bbef9;
}

#header .header-center .img a {
  text-decoration: none;
  color: #71778e;
  font-size: 11px;
}

#header .header-center .img img {
  width: 100%;
  height: 100%;
}

#header .header-center .location .btn-modal {
  position: relative;
  background-color: white;
  color: #233a95;
  border: 1px solid rgba(151, 151, 151, 0.5);
  margin-top: 8px;
  margin-left: 35px;
  height: 54px;
  border-radius: 5px;
  width: 180px;
}

#header .header-center .location .btn-modal strong {
  font-size: 13px;
  color: #223a95;
  padding-right: 50px;
}

#header .header-center .location .btn-modal .fa-solid {
  font-size: 13px;
  position: absolute;
  top: 20px;
  right: 12px;
}

#header .header-center .location .btn-modal span {
  font-size: 0.6875rem;
  margin: 0;
  color: #979797;
  padding-right: 82px;
}

#header .header-center .location .btn-modal:hover {
  -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
}

#header .header-center .location .btn-modal:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header .header-center .location .modal-body {
  height: 400px;
  overflow-y: scroll;
}

#header .header-center .location .modal-body span {
  float: right;
}

#header .header-center .location .modal-body .modals-search {
  margin-left: 32px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 7px;
  background-color: #f3f4f7;
  width: 417px;
  border-radius: 5px;
}

#header .header-center .location .modal-body .search {
  background-color: transparent;
}

#header .header-center .location .modal-body .search::-webkit-input-placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search:-ms-input-placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search::-ms-input-placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search::placeholder {
  color: #979797;
}

#header .header-center .location .modal-body .search:focus {
  border: none;
}

#header .header-center .location .modal-body .search:focus-visible {
  outline: none;
}

#header .header-center .search #search {
  width: 100%;
  height: 60px;
  outline: none;
  background-color: #f3f4f7;
  color: #202435;
  border: none;
  border-radius: 4px;
}

#header .header-center .search i {
  position: relative;
  top: -40px;
  left: 90%;
}

#header .header-center .left a {
  color: black;
}

#header .header-center .left a i {
  margin-top: 10px;
}

#header .header-center .left .basket {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff1ee;
  text-align: center;
  position: relative;
  left: 40%;
}

#header .header-center .left .basket i {
  margin-top: 13px;
  color: red;
}

#header .header-center .left .dropdown {
  position: relative;
  display: inline-block;
}

#header .header-center .left .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-center .left .dropdown .dropdown-content {
  height: 280px;
  display: none;
  position: absolute;
  width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  border-radius: 8px;
  background-color: #ffff;
}

#header .header-center .left .dropdown .dropdown-content .img {
  margin-top: 20%;
  display: block;
}

#header .header-center .left .dropdown .dropdown-content .img img {
  width: 20%;
  height: 20%;
}

#header .header-center .left .dropdown .dropdown-content .txt {
  height: 100px;
  width: 80%;
  border-top: 1px solid #e3e4e9;
  margin-top: 25%;
  margin-left: 7%;
  text-align: center;
}

#header .header-center .left .dropdown .dropdown-content .txt p {
  margin-top: 8%;
  font-size: 13px;
}

#header .header-bottom .dropdown button {
  background-color: #2bbef9;
  color: white;
  border-radius: 24px;
  border: none;
  height: 50px;
  width: 213.74px;
  outline: none;
}

#header .header-bottom .dropdown .dropdown-menu {
  width: 300px;
  border-top: 1px solid #e3e4e9;
}

#header .header-bottom .dropdown .dropdown-menu li {
  padding-top: 10px;
  font-size: 16px;
  color: #3e445a;
}

#header .header-bottom .dropdown .dropdown-menu li i {
  padding-right: 10px;
}

#header .header-bottom .dropdown .dropdown-menu li a:hover {
  color: #2bbef9;
}

#header .header-bottom .shop-dropdown {
  position: relative;
  height: 60px;
}

#header .header-bottom .shop-dropdown:hover .content {
  display: block;
}

#header .header-bottom .shop-dropdown .page {
  text-align: center;
  margin-top: 25px;
}

#header .header-bottom .shop-dropdown .page a {
  text-decoration: none;
  color: #3e445a;
  font-size: 16px;
}

#header .header-bottom .shop-dropdown .content {
  position: absolute;
  display: none;
  z-index: 100;
  width: 1553px;
  background-color: white;
  left: -585px;
  top: 40px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 50px;
}

#header .header-bottom .shop-dropdown .content .first {
  color: #0931c2;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 20px;
}

#header .header-bottom .shop-dropdown .content a {
  text-decoration: none;
  color: #2b2b2b;
  display: inline-block;
  padding-bottom: 10px;
}

#header .header-bottom .shop-dropdown .content a:hover {
  color: #2bbef9;
}

#header .header-bottom .shop-dropdown .content .lists:hover .first {
  color: #2bbef9;
}

#header .header-bottom .navigation ul {
  display: inline;
}

#header .header-bottom .navigation ul li {
  display: inline-block;
  padding-left: 10px;
}

#header .header-bottom .navigation ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #3e445a;
  padding-left: 20px;
  width: 50px;
  min-height: 50px !important;
}

#header .header-bottom .navigation ul li a:hover {
  color: #2bbef9;
  background-color: #ecf6fa;
}

#header .header-bottom .navigation .dropdown {
  position: relative;
  display: inline-block;
  color: #3e445a;
}

#header .header-bottom .navigation .dropdown .head {
  width: 96.28px;
  height: 50px;
}

#header .header-bottom .navigation .dropdown .head h5 {
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}

#header .header-bottom .navigation .dropdown .head h5 a {
  text-decoration: none;
  color: #3e445a;
}

#header .header-bottom .navigation .dropdown .head h5:hover {
  color: #2bbef9;
  background-color: #ecf6fa;
  height: 100%;
  border-radius: 40%;
}

#header .header-bottom .navigation .dropdown .active {
  color: #2bbef9;
}

#header .header-bottom .navigation .dropdown:hover .dropdown-content {
  display: block;
}

#header .header-bottom .navigation .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #fff;
}

#header .header-bottom .navigation .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header .header-bottom .navigation .dropdown .dropdown-content a:hover {
  color: #2bbef9;
}

#header .header-bottom .navigation .dropdown .big {
  width: 1320px;
  margin-left: 100%;
}

#header .header-bottom .navigation .dropdown .big ul li {
  list-style: none;
}

#products {
  background-color: #f7f8fd;
}

#products ul {
  list-style: none;
}

#products ul li {
  display: inline;
}

#products ul li a {
  text-decoration: none;
  color: black;
  margin-right: 5px;
  padding-left: 5px;
}

#products .product-card .card {
  background-color: white;
  width: 1250px;
  max-height: 800px;
}

#products .product-card .card .review {
  padding-left: 10px;
}

#products .product-card .card .review a {
  text-decoration: none;
  cursor: pointer;
}

#products .product-card .card .review img {
  margin-top: -5px;
}

#products .product-card .card .review .one {
  width: 140px;
}

#products .product-card .card .review .stars {
  border-left: 1px solid #e3e4e9;
  border-right: 1px solid #e3e4e9;
}

#products .product-card .card .review .box {
  width: 180px;
}

#products .product-card .card .percent {
  width: 40px;
  height: 25px;
  background-color: #2bbef9;
  border-radius: 4px;
  text-align: center;
  margin-left: 8%;
  margin-top: -2%;
}

#products .product-card .card .percent a {
  color: white;
  text-decoration: none;
}

#products .product-card .card .txt {
  width: 100px;
  height: 25px;
  background-color: #3e445a;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 8%;
  text-align: center;
}

#products .product-card .card .txt a {
  font-size: small;
  color: white;
  text-decoration: none;
}

#products .product-card .card .product-image {
  width: 400px;
  margin-left: 10%;
}

#products .product-card .card .product-image img {
  width: 100%;
}

#products .product-card .card .product-image .other-images {
  width: 310px;
  height: 270px;
  margin-left: 10%;
}

#products .product-card .card .product-image .other-images img {
  width: 80px;
  height: 80px;
  border: 1px solid #233a95;
  border-radius: 4px;
  margin-left: 10px;
}

#products .product-card .card .product-info {
  margin-top: -15%;
}

#products .product-card .card .product-info .stock {
  width: 80px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  background-color: #e5f8ed;
}

#products .product-card .card .product-info .stock span {
  font-size: 13px;
  font-weight: bolder;
  color: #00b853;
}

#products .product-card .card .product-info .curcile {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #edeef5;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

#products .product-card .card .product-info .curcile:hover {
  background-color: #fcb900;
}

#products .product-card .card .product-info .curcile p {
  font-size: x-large;
  cursor: pointer;
}

#products .product-card .card .product-info .button {
  width: 150px;
  height: 40px;
  border-radius: 1.875rem;
  background-color: #233a95 !important;
}

#products .product-card .card .product-info .button a {
  color: white;
  text-decoration: none;
  text-align: center;
}

#products .product-card .card .product-info .button:hover {
  opacity: 0.8;
}

#products .product-card .card .product-info .product-action .wishlist {
  width: 150px;
  background-color: transparent !important;
  border: 1px solid #e3e4e9;
  margin-left: -5px;
}

#products .product-card .card .product-info .product-action .wishlist a {
  color: gray;
  text-decoration: none;
}

#products .product-card .card .product-info .product-action .wishlist:hover {
  opacity: 1;
}

#products .product-card .card .product-info .product-action a {
  text-decoration: none;
  color: #71778e;
  font-size: 0.75rem;
}

#products .product-card .card .product-info .check {
  height: 100px;
  display: block;
  line-height: 1.4;
  font-size: 12px;
  font-family: Inter, sans-serif;
  border-bottom: 1.5px solid #e3e4e9;
}

#products .product-card .card .product-info .product-type a {
  font-size: 13px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#products .product-card .card .product-info .product-type a:hover {
  text-decoration: underline;
}

#products .product-card .card .product-info .links {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edeef5;
  text-align: center;
  margin-left: 5px;
}

#products .product-card .card .product-info .links:hover {
  background-color: transparent;
  opacity: 0.7;
}

#products .product-card .card .product-info .links i {
  margin-top: 10px;
  color: white;
}

#products .product-card .card .side-info {
  margin-left: 20%;
  margin-top: -12%;
}

#products .product-card .card .side-info .covid {
  width: 260px;
  height: 38px;
  background-color: #ffeef2;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #be143c;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

#products .product-card .card .main-info {
  width: 260px;
  height: 200px;
  background-color: #f7f8fd;
}

#products .product-card .card .main-info ul li .text {
  font-size: 13px;
  margin-top: -30px;
  margin-left: 25px;
  padding: 10px;
}

#products .tab-menu .tabs {
  overflow: hidden;
  border-bottom: 1px solid #e3e4e9;
  background-color: white;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#products .tab-menu .tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

#products .tab-menu .tabs.current {
  background: #ededed;
  color: #222;
}

#products .tab-content {
  display: none;
  padding: 6px 12px;
  background-color: white;
}

#products .tab-content.current {
  display: inherit;
}

#products .tab-content .text {
  padding-right: 10px;
  width: 40%;
  height: 30px;
  border: 1.5px solid #e3e4e9;
  display: inline-block;
}

#products .tab-content .text p {
  margin-left: 5px;
}

#products .tab-content .review .user-info img {
  border-radius: 50%;
  margin-left: 5px;
}

#products .tab-content .review .user-info ul {
  display: block;
  margin-left: 3%;
  margin-top: -1%;
}

#products .tab-content .review .user-info ul li {
  display: block;
}

#products .tab-content .user-commet .rate {
  border-right: 1px solid #e3e4e9;
}

#products .tab-content .user-commet .rate .fa-star {
  color: gray;
}

#products .tab-content .user-commet .rate .fa-star:hover {
  color: yellow;
}

#products .tab-content .user-commet textarea {
  height: 200px;
  width: 100%;
  background-color: #f3f4f7;
  border: none;
  outline: none;
}

#products .tab-content .user-commet .input {
  height: 40px;
  width: 100%;
  background-color: #f3f4f7;
  border: none;
  outline: none;
}

#products .tab-content .user-commet .btn {
  background-color: #233a95;
  width: 110px;
  height: 50px;
}

.card-products {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  width: 21rem;
  height: 37rem;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-products:hover {
  -webkit-box-shadow: 10px 5px 5px #b9b9b9;
          box-shadow: 10px 5px 5px #b9b9b9;
  border: 0.5px solid #233a95;
  border-radius: 6px;
}

.card-products .hidden-icon {
  margin-top: 5px;
}

.card-products .hidden-icon a {
  text-decoration: none;
  color: black;
}

.card-products .hidden-icon i {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  visibility: hidden;
  margin-left: 275px;
  line-height: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 1px solid #e3e4e9;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 5px;
}

.card-products .hidden-icon i:hover {
  background-color: #13135b;
  color: white;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.card-products:hover .btn {
  visibility: visible !important;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.card-products:hover i {
  visibility: visible !important;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.card-products .card-image {
  width: 90%;
  height: 7 0%;
  margin-top: 10px;
  margin-left: 5%;
  cursor: pointer;
}

.card-products .discount {
  position: absolute;
  border: 1px solid #2bbef9;
  background-color: #2bbef9;
  border-radius: 4px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -130px;
  margin-left: 15px;
  font-size: 13px;
  padding: 3px;
  width: 35px;
}

.card-products .discount p {
  text-align: center;
}

.card-products .body {
  margin-left: 10px;
}

.card-products .body .btn {
  margin-left: 10px;
}

.card-products .body .second-price {
  color: #ea2b0f;
  font-size: 20px;
}

.card-products .body .a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

.card-products .body .a:hover {
  color: #233a95;
}

.card-products .body .price {
  color: #6c757d;
  text-decoration: line-through;
}

.card-products .body .yellows {
  color: gold;
  font-weight: 600;
  font-size: 10px;
}

.card-products .body .gray {
  color: gray;
  font-weight: 600;
  font-size: 10px;
}

.card-products .body .stock {
  color: #28a745;
  font-size: 10px;
  font-weight: 700;
}

.card-products .body .btn {
  visibility: hidden;
  background-color: #233a95;
  border-radius: 30px;
  width: 90%;
}

.card-products .body .title {
  font-size: 13px;
  font-weight: 650;
}

.coupon {
  width: 100%;
  height: 360px;
  background-color: #233a95;
  position: relative;
}

.coupon img {
  position: absolute;
  bottom: 0%;
}

.coupon .content {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  position: absolute;
  top: 15%;
  left: 10%;
}

.coupon .content p {
  font-family: "Inter", sans-serif;
  padding-top: 5px;
  color: gray;
  font-weight: 200;
  font-size: 14px;
}

.coupon .content .form {
  color: white;
  position: absolute;
  left: 10%;
  top: 20%;
  position: relative;
}

.coupon .content .form i {
  position: absolute;
  top: 28%;
  left: -7.5%;
  color: gray;
  font-size: 25px;
}

.coupon .content .form .input {
  width: 470px;
  height: 70px;
  border-radius: 4px;
  border: none;
  text-align: center;
  margin-left: -50px;
  outline: none;
}

.coupon .content .form .btn {
  right: 1%;
  top: 10%;
  position: absolute;
  height: 55px;
  width: 95px;
  background-color: #233a95;
  border: none;
}

.info {
  height: 30px;
  padding-left: 3%;
  text-align: center;
  font-family: Inter, sans-serif;
}

.info .bor {
  border-right: 1px solid #e3e4e9;
  padding-right: 5px;
}

.info .img-one {
  margin-left: 10px;
}

.info i::after {
  padding-left: 10px;
}

.footer {
  background: #f7f8fd;
  height: 260px;
  padding-left: 5%;
}

.footer .dairy {
  padding-right: 15px;
}

.footer h4 a {
  color: #202435;
  font-size: 0.9375rem;
  font-weight: bolder;
}

.footer ul {
  list-style: none;
}

.footer ul a {
  text-decoration: none;
  color: #71778e;
}

.footer ul li {
  margin-top: 5px;
  font-size: 13px;
  cursor: pointer;
}

.footer .social {
  margin-top: 150px;
}

.footer .social .phone {
  width: 50px;
  height: 50px;
  border-top: 2px solid #e3e4e9;
  border-radius: 50%;
  text-align: center;
}

.footer .social .phone img {
  margin-top: 7px;
  position: relative;
}

.footer .social .phone span {
  font-size: xx-large;
}

.footer .social .download {
  height: 100px;
}

.footer .social .download span {
  font-size: 13px;
  color: #71778e;
}

.footer .social .download img {
  position: relative;
  bottom: 23%;
  left: 3%;
  cursor: pointer;
}

.footer .social .links ul {
  list-style: none;
}

.footer .social .links ul li {
  display: inline;
  margin-left: 15px;
}

.footer .social .links ul li a {
  text-decoration: none;
  color: #233a95;
}

.footer span {
  font-size: 13px;
  color: #71778e;
}

.footer .policy ul li {
  display: inline;
  margin-left: 25px;
}

.footer .policy ul li:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=product.css.map */